## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

###### Objectives:

* List popular languages for Data Science
* List most common used libraries for Data Science
* Practice how to make a Jupyter Notebook
* List some data scientist tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

#### Data Science Tools

| Data Science Tools |
|---|
|Anaconda|
|Jupyter Notebooks|
|Apache Spark|
|IBM SPSS|

##### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = 200/60
print(hours)

3.3333333333333335

### Author
#### Jose Miguel Mangas